.projects {
  border-top: 1px solid var(--color-neutral-300);

  & h3 {
    position: sticky;
    top: 51px;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 20px;
    background-color: var(--color-neutral-50);
    border-bottom: 1px solid var(--color-neutral-300);

    & span {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 20px;
      font-size: var(--font-sm);
      font-weight: 500;
      border-right: 1px solid var(--color-neutral-300);
    }

    & div {
      flex-grow: 1;
      height: 1px;
      background-color: var(--color-neutral-300);
    }
  }
}

.notFound {
  padding: 40px 0;
  font-size: var(--font-sm);
  color: var(--color-foreground-subtle);
  text-align: center;
  border-bottom: 1px solid var(--color-neutral-300);
}

.footer {
  display: flex;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid var(--color-neutral-300);

  & div {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-neutral-300);
  }

  & p {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-size: var(--font-2xsm);
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--color-neutral-300);
    border-top: none;
    border-bottom: none;
  }

  & button {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-size: var(--font-xsm);
    font-weight: 500;
    color: var(--color-foreground);
    cursor: pointer;
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-300);
    border-top: none;
    border-bottom: none;

    & .corner {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid var(--color-neutral-500);

      &:nth-child(1) {
        top: -1px;
        left: -1px;
        border-right: none;
        border-bottom: none;
      }

      &:nth-child(2) {
        bottom: -1px;
        left: -1px;
        border-top: none;
        border-right: none;
      }

      &:nth-child(3) {
        right: -1px;
        bottom: -1px;
        border-top: none;
        border-left: none;
      }

      &:nth-child(4) {
        top: -1px;
        right: -1px;
        border-bottom: none;
        border-left: none;
      }
    }
  }
}
