.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  & .pattern {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #fff;
    background-image: linear-gradient(
        var(--color-neutral-100) 1px,
        transparent 1px
      ),
      linear-gradient(
        to right,
        var(--color-neutral-100) 1px,
        var(--color-neutral-50) 1px
      );
    background-position: right;
    background-size: 40px 40px;
    opacity: 0.6;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  background: var(--color-neutral-100);
  border: none;
  border-radius: 50%;
  box-shadow:
    inset 0 -12px 24px var(--color-neutral-50),
    0 12px 24px rgb(9 9 11 / 50%);

  & .one {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;
    background: var(--color-neutral-200);
    filter: blur(25px);
    border-radius: 50%;
    opacity: 0.8;
  }

  & .two {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background: var(--color-neutral-300);
    filter: blur(25px);
    border-radius: 50%;
    opacity: 0.8;
  }

  & span {
    z-index: 100;
    font-family: var(--font-mono);
    font-size: var(--font-2xsm);
    font-weight: 500;
    color: var(--color-foreground);
    text-transform: uppercase;
  }
}
