<footer class="footer">
  <p class="curator">
    Curated by <a href="https://remvze.com/">Maze Heart</a>.
  </p>
  <h4>Gitscovery</h4>
</footer>

<style>
  .footer {
    padding-top: 50px;
    overflow: hidden;
    background: var(--color-neutral-50);
    border-bottom: 1px solid var(--color-neutral-300);

    & .curator {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtler);
      text-align: center;

      & a {
        font-weight: 500;
        color: var(--color-foreground-subtle);
        text-decoration: none;
      }
    }

    & h4 {
      margin-top: 8px;
      font-family: var(--font-display);
      font-size: calc(min(550px, 90vw) / 5);
      line-height: 1;
      color: var(--color-neutral-300);
      text-align: center;
      transform: translateY(25px);
    }
  }
</style>
